* { 
margin: 0; 
padding: 0; 
}

body {
	font-size: 16px;
	font-family: Corbel;
	background-color: #C3D898;
	height: 100%;
	border: none;
	
}
h2 {
	font-size: 150%;
}
h3 {
	font-size: 200%;
	color: #FFFFFF;
}

p {
	font-size: 100%;
	font-weight: bold;
	color: #FFFFFF;
	font-family: Corbel;
}

.mainMeny {
	visibility: hidden;
}
html {
	font-size:100%;
	height: 70%;
	width: 100%;
} 
header {
		background-color: #1C3144;
		margin: 0% 0% 0% 0%;
		height: 50px;
		width: 100%;
		padding: 0%;
		text-indent: bottom;

	}
#logoBox {
		height: 25px;
		margin-bottom: 0px;
		width: 20%;
		float: left;
		overflow: hidden;
}

/* Applies to sound button*/
#soundButton {
	width: 7%;
	height: 25px;
	overflow: hidden;
	float: right;
	margin-right: 1%;
	padding-top: 8;
	Text-align: center;
}
#soundButton:hover p {
  color:#E4EAF0;
 }
 
 /* Applies to topics dropdown*/
 #dropButton {
  width: 7%;
  border: none;
}

#dropButton:hover {
  color:#E4EAF0;
}

#dropDown {
 
  display: inline-block;
  float: right;
  height: 25px;
  margin-right: 1%;
  padding-top: 8;
  Padding-bottom: 0;
}

#topics {
  display: none;
  position: absolute;
  min-width: 10%;
  /*background-color: #596F62;*/
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: left;
}

#topics p {
  text-decoration: none;
  display: block;
  padding-left: 5%
}

#dropDown:hover #topics {
  display: block;
}
 
footer {
		background-color: #1C3144;
		position:absolute; 
		bottom:0;
		height: 25px;
		width: 100%;
		position: fixed;
		
}
a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  font-weight:      bold;
  background-color: #ddd;
  } 
  
  /* Applies to elements in body */
  img{
	  max-height: 100%; 
	  max-width: 100%;
	  object-fit: cover;
  }
#blue {
	color: #0000FF;
}
#white {
	color: #FFFFFF;
	}
#logoBar {
	position: fixed;
}
#mainBody {
	background-color: #C3D898;
	margin: 10% 0% 0% 30%;
	padding: 0;
	height: 95%;
	width: 40%;
}
#englishSite, #theory, #write {
	background-color: #01DF01;
	height: 40%;
	width: 48%;
	margin: 0%;
	padding: 0;
	float: left;
	overflow: hidden;
	border-style: solid;
	border-color: #A9F5A9;
	text-align: center;
	
	
}
#spanishSite, #practice, #choose {
	background-color: #00FF40;
	height: 40%;
	width: 48%;
	margin: 0% 0% 0% 0%;
	padding: 0%;
	float: left;
	overflow: hidden;
	border-style: solid;
	border-color: #A9F5A9;
	text-align: center;
}

#englishSite img, #spanishSite img{
	height: 100%;
	width: 100%;
}
#resultBar {}

/* applies to game sites */

#button1, #button2, #button3 {
	background-color: #7EA16B;
	height: 30%;
	width: 32%;
	margin: 0;
	padding: 0;
	float: left;
	overflow: hidden;
	border-style: solid;
	border-color: #C3D898;
	text-align: center;
}

#choice1, #choice2, #choice3 {
	margin-top: 25%;
}

#ifWrong {
	background-color: #7EA16B;
	height: 5%;
	width: 98.05%;
	text-align: center;
	margin: 0;
	padding: 0;
	float: left;
	border-style: solid;
	border-color: #C3D898;
}

#loadAgain, #randomWord {
	background-color: #596F62;
	height: 10%;
	width: 98.05%;
	text-align: center;
	margin: 0;
	padding: 0;
	float: left;
	border-style: solid;
	border-color: #C3D898;
}

/*result bar*/

#stat1, #stat2, #stat3 {
	height: 100%;
	width: 10%;
	float: left;
	text-align: center;
}
#stat1 {
	margin-left: 35%;
}

@media only screen and (max-width: 1240px) {
	#mainbody {
		margin: 10% 0% 0% 30%;
		padding: 0;
		height: 95%;
		width: 50%;
	}
}
	
@media only screen and (max-width: 800px) {
    h1 {
		font-size: 300%;
	}
	#mainBody {
		margin: 0% 0% 0% 10%;
		padding: 0;
		height: 95%;
		width: 80%;
}
	#logoBox {
		width: 60%;
	}
	#soundButton {
		width: 30%;
	}

@media only screen and (max-width: 450px) {
	h1 {
		font-size: 300%;
	}
	h3 {
		font-size: 80%;
		color: #FFFFFF;
	}
	.mainMenu {
		visibility: visible;
	}
	#mainBody {
		margin: 0% 0% 0% 0%;
		padding: 0;
		height: 95%;
		width: 100%;
	}
	#logoBox {
		width: 45%;
	}
	#soundButton {
		width: 20%;
		text-align: left;
	}
	
	#dropButton {
		width: 8%;
		text-align: right;
		margin-left: 55%
	}
	
	#dropDown {
		min-width: 30%;
	}
	
	#topics {
		width: 50%;
	}
	
	#topics p {
		font-size: 200%;
	}
	#englishSite, #theory, #write {
		height: 4%;
		border-top: none;
		background-color: #0B610B;
		border-left: none;
		width: 49%
		
	}
	#spanishSite, #practice, #choose {
		height: 4%;
		border-top: none;
		background-color: #0B610B;
		border-right: none;
		width: 49%;
	}
	#englishSite img, #spanishSite img{
	display: none;
	height: 0%;
	width: 0%;
	}
	#button1, #button2, #button3 {
		width: 98%;
		height: 20%;
	}
	
	#wordQuestion, #newWord {
		margin-top: 5%;
		font-size: 220%;
	}
	
	#randomWord {
		height: 26%;
	}
	
	#loadAgain {
		height: 25%;
		float: bottom;
	}
	
	#ifWrong {
		height: 10%;
		font-size: 120%;
	}
		
	#choice1, #choice2, #choice3  {
		margin-top: 5%;
		font-size: 200%;
	}
}
